{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

 {% block styles%}
 <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
 {% endblock%}

 {% block content%}
 <div class="container mt-5">
     <div class="row">
         <!-- profile photo -->
          <div class="col-md-4">
             {% if user.profile_pic_path %}
             <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail ppp">
             {%else%}
             <div class="profile-userpic">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                class="img-responsive" alt="" height="250" width="250">
            </div>
             {% endif %} <br>
             <!-- Update photo -->
             {% if user == current_user %}
             <form id="upload" action="{{url_for('views.update_pic',username=user.username)}}" method="post" enctype = "multipart/form-data">
               <input type="file"  name="photo" class="form-control" required><br>
               <input type="submit">
             </form>
               {% endif %}
         </div>
         <div class="col-md-6">
            <h4>Username: <em>{{user.username}}</em> </h4>
            <!-- bio -->
            {% if user.bio %}
            <h4>Email: <small><em>{{user.email}}</em></small></h4>
            <h4>Bio:  {{user.bio}}</h4>
            {%else%}
                <p> {{user.username}} has no bio </p>
            {% endif %}
            <!-- update -->
            {% if user == current_user %}
            <a href="{{url_for('views.update_profile',username=user.username)}}" class="text-white">Edit profile</a>
            {% endif %}
            <br> <br>
            <em><a href="/post/"class="text-white">Create a post</a></em>

        </div>
     </div> <br><br>
 {% endblock %}
 