*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgba(131, 121, 115, 0.884);

}
/* navbar */
.navbar{
    background-color:rgb(122, 73, 90);

}

.logo{
    font-family: 'Macondo', cursive;
    font-size: 45px;
    text-decoration: none;
    color:black;
}
/* profile styling */
.ppp{
    float: none;
    display: block;
    margin: auto;
    width: 60%;
    height: 70%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important; 
    border-radius: 50% !important;  
}
input[type="file"]{
    background-color: transparent;
    border: none;
}
input[type="submit"]{
    background-color:  rgb(110, 51, 61); 
    width: 20%;
}
#upload{
    background-color: transparent;
}
/* posts section */
.card{
    background-color:rgb(122, 73, 90);
   
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* login-forms */
.login{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width:60%;
    padding:5%
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
}
